---
Checks:
  # Disable default checks
  - "-*"
  # Things we care about:
  - "android-*"
  - "bugprone-*"
  - "cert-*-c"
  - "clang-analyzer-*"
  - "concurrency-*"
  - "portability-*"
  - "readability-*"
  # Things we don't care about:
  - "-clang-analyzer-cplusplus.*"
  - "-clang-analyzer-osx.*"
  - "-clang-analyzer-optin.osx.*'"
  # Annoying things:
  - "-bugprone-easily-swappable-parameters"
  - "-readability-identifier-length"
FormatStyle: file
CheckOptions:
  cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions: False
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: True
  hicpp-signed-bitwise.IgnorePositiveIntegerLiterals: True
  readability-function-cognitive-complexity.IgnoreMacros: True
  readability-magic-numbers.IgnorePowersOf2IntegerValues: True
