daemon/*.o
daemon/escape
daemon/events.xml
daemon/gatord
daemon/mxml/*.o
driver/*.cmd
driver/*.mod.c
driver/*.o
driver/.tmp_versions
driver/Module.symvers
driver/gator.ko
driver/gator_events.h
driver/modules.order
