daemon/*.d
daemon/*.o
daemon/*_xml.h
daemon/SrcMd5.cpp
daemon/escape
daemon/events.xml
daemon/gatord
daemon/libsensors/*.d
daemon/libsensors/*.o
daemon/mxml/*.d
daemon/mxml/*.o
driver/*.cmd
driver/*.mod.c
driver/*.o
driver/.tmp_versions
driver/Module.symvers
driver/gator.ko
driver/gator_events.h
driver/gator_src_md5.c
driver/modules.order
