*.d
*.o
/annotate/libstreamline_annotate.a
/annotate/libstreamline_annotate.so
/daemon/*_xml.h
/daemon/SrcMd5.cpp
/daemon/escape/escape
/daemon/events.xml
/daemon/gatord
/driver/*.ko.cmd
/driver/*.mod.c
/driver/*.o.cmd
/driver/.tmp_versions
/driver/Module.symvers
/driver/gator.ko
/driver/gator_src_md5.h
/driver/modules.order
/hrtimer_module/*.ko.cmd
/hrtimer_module/*.mod.c
/hrtimer_module/*.o.cmd
/hrtimer_module/.tmp_versions
/hrtimer_module/Module.symvers
/hrtimer_module/hrtimer_module.ko
/hrtimer_module/modules.order
/notify/*.class
/notify/notify.dex
/setup/*.elf
/setup/aarch64
/setup/armv7
jni
libs
obj
